<div class="p-5 c-container">
    <div *ngIf="article">
      <h3>{{ article.title }}</h3>
      <p>{{ article.content }}</p>
    </div>
  
    <hr>
    
    <div class="pb-2">
      <h1>留言板</h1><br>
      <div *ngFor="let eachComment of allComment">
        <h3>標題 : {{ eachComment.title }}</h3>
        <div style="white-space: pre-wrap;">{{ eachComment.content }}</div><br>
        <p class="alert alert-info">by {{ eachComment.name }} &nbsp;{{ eachComment.date | date:'medium'}}</p>
        <hr>
      </div>
    </div>
  
    <app-comment-form (addComment)="addComment($event)"></app-comment-form>

  </div>